<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Viejo Roble</title>
    <link rel="icon" href="/static/assets/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="foto">
    <link rel="stylesheet" href="/static/style.css">
     <div class="div1">
        <h3 class="irala">Irala</h3>
        <h1 class="viejo-roble">El Viejo Roble</h1>
        <h2 class="casa-campo">Casa de Campo</h2>
    </div>
    <div class="divbtn">
        <a href="/sobre-nosotros" class="btn">Sobre Nosotros</a>
        <a href="/instalaciones" class="btn">Instalaciones</a>
        <a href="/contacto" class="btn">Contactanos</a>
    </div>
</body>
</html>