<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Instalaciones</title>
</head>
<body class="fondo-color">
    <link rel="stylesheet" href="/static/style.css">
    <nav class="navbar">
        <div class="nav-izq">
            <a href="/" class="nav-img">
                <img src="/static/assets/logo-redondo-chico.png" alt="Inicio">
            </a>
        </div>
        <div class="nav-der">
            <a href="/sobre-nosotros" class="nav-btn">Sobre Nosotros</a>
            <a href="/contacto" class="nav-btn">Contactanos</a>
        </div>
    </nav>
    <div class="contenedor-slider">
        <div class="slider">
            <div class="slides"></div>
            <div class="prev" onclick="prevSlide()">&#10094;</div>
            <div class="next" onclick="nextSlide()">&#10095;</div>
        </div>
        <div class="texto-inst">
            <h2>Nuestras Instalaciones</h2>
            <p>
                El Viejo Roble cuenta con cuatro habitaciones que albergan hasta un total de 12 personas. Disponemos de dos baños completos y una cocina-comedor completamente equipada. Además, ofrecemos un parrillero, horno de barro y fogón para su uso.
La propiedad cuenta con un amplio espacio verde y dos cómodas materas distribuidas en el área, ideales para la recreación y el descanso. Para los días de calor, tenemos un sector de pileta y solárium.
Asimismo, contamos con WiFi de buena cobertura, DIRECTV y un Smart TV para que estés al día con tus series favoritas. Por último, somos pet friendly, ¡así que puedes venir con tu amigo peludo para disfrutar y relajarte!
            </p>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>
</html>