<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Sobre Nosotros</title>
</head>
<body class="fondo-color">
    <link rel="stylesheet" href="/static/style.css">
    <nav class="navbar" id="navbar">
        <div class="nav-izq">
            <a href="/" class="nav-img">
                <img src="/static/assets/logo-redondo-chico.png" alt="Inicio">
            </a>
        </div>
        <div class="nav-der">
            <a href="/instalaciones" class="nav-btn">Instalaciones</a>
            <a href="/contacto" class="nav-btn">Contactanos</a>
        </div>
    </nav>
    <main> 
        <div>
            <h2 class="titulo">Sobre Nosotros</h2>
        </div>
        <div class="content">
            <div class="textoS">
                <P>Bienvenidos.<P/>
                    <p>El Viejo Roble es más que una casa en el campo, es un rincón donde los recuerdos se entrelazan con la naturaleza y la serenidad del paisaje. Queremos compartir esta experiencia única con vos, para que puedas descubrir la paz que solo el campo sabe ofrecer, envuelto en la quietud y el encanto de un entorno lleno de vida.<br>                 
                    Ubicado en Irala, un pueblito del partido de Bragado, El Viejo Roble se encuentra a 50 km de Bragado, 20 km de O’Brien y 27 km de Chacabuco. Desde Buenos Aires, el viaje nos lleva a recorrer la Ruta Nacional 5 hasta Bragado, y luego seguir el camino hacia la calma de Irala, donde te esperamos con los brazos abiertos.<br>              
                    Nuestro alojamiento está pensado para quienes buscan descansar, disponible para reservas diarias o de fin de semana, ideal para familias y sus mascotas, quienes también encontrarán aquí un espacio especial.
                    Para consultar precios, disponibilidad o simplemente sacarte una duda, nos encontrás en Booking, Airbnb o podés escribirnos directamente. Estamos siempre a disposición, esperando tu visita para que seas parte de esta historia en el campo.</p>
             </div>
             <div class="img-bien">
              <img src="/static/assets/bienvenidos.jpg" alt="El Viejo Roble">
            </div>
        </div>
        
    </main>
   <script src="/static/main.js"></script>
</body>
</html>